	<div class="spacer"></div>
	<div class="container">
	    <div class="spacer text-center"><small class="text-muted">&copy; TVme</small></div>
	</div>
	<div class="spacer"></div>
	
	<!-- jQuery, jQueryUI -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
	<!-- Popper.js, Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>