<% include partials/header %>
<% include partials/navbar %>

<div class="container">
    <header class="jumbotron"><div class="container">
        <h1 class="display-4">TVme</h1>
        <p class="lead">Movies, TV Shows and Documentaries</p>
        
        <hr class="my-4">
        
        <p>An alternative project to Colt Steele's Web Developer Bootcamp YelpCamp, using OMDb API</p>
    </div></header>
</div>

<% include partials/footer %>