<% include partials/header %>

<div class="container">
    <h1><%= title.name %></h1>
    <img src="<%= title.image %>" alt="<%= title.name %>">
    <p><%= title.description %></p>
</div>

<% include partials/footer %>