<% include ../partials/header %>

<div class="container">
    <h1>Create new Entry</h1>

    <form action="/movies" method="POST">
        <div class="form-group">
            <label for="name">Enter new title name</label>
            <input name="name" id="name" class="form-control" type="text" placeholder="Title">
        </div>
        <div class="form-group">  
            <label for="image">Enter poster URL</label>
            <input name="image" id="image" class="form-control" type="text" placeholder="Image URL">
        </div>
        <div class="form-group">  
            <label for="description">Enter short description</label>
            <input name="description" id="description" class="form-control" type="text" placeholder="Description">
        </div>        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<% include ../partials/footer %>