.btn-primary {
    color: #fff;
    background-color: rgb(56,176,194);
    border-color: rgb(53, 101, 108);
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(42, 136, 156);
    border-color: rgb(53, 101, 108);
}


.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: rgb(42, 136, 156);
    border-color: rgb(53, 101, 108);
}

.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(47, 145, 171, 0.5);
}

.spacer {
	margin-top: 40px;
}

.spacer-small {
    margin-top: 20px;
}

.comment {
    padding: 0.7em 2.1em;
    border: 1px solid rgba(128, 128, 128, 0.19);
    border-radius: 10px
}

.comment-footer, .comment-footer button {
    color: rgb(158, 158, 158);
}

.no-padd-left .p-2 {
    padding-left: 0!important;
}

.no-padd-right .p-2 {
    padding-right: 0!important;
}

.no-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.content {
    white-space: pre-wrap;
}

.card {
    position: relative;
}

.card-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.80);
    opacity: 0;
    transition: .5s ease;
    padding-top: 10vh;
}

.card:hover .card-body {
    opacity: 1;
}